<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery.cookie.js"></script>

</head>
<body>



        <input type="text" id="account" name="account">
        <input type="text" id="password" name="password">
        <input type="button" value="登录" onclick="login()">


        <p>templates</p>

</body>
</html>
<script>
    
    function login() {
       $.ajax({
           url:'/login',
           data:{account:$('#account').val(),password:$('#password').val()},
           type: 'post',
           datatype:'json',
           success:function (res) {
               if(res.message=='success'){
                   $.cookie("token",res.TokenModel.userId+"_"+res.TokenModel.token);
                   window.location.href='/index'
               }else{
                   window.location.href='/error201'
               }
           }
       })
    }
    
</script>